.song-title {
    text-shadow: 5px 5px 6px rgba(0, 0, 0, 1);
    color: white;
            font-weight: bold;
            font-family: 'Noto Serif JP';
            font-size: 36px;
}

.song-container {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
}

.song-icon {
    width: 20px;
    height: 20px;
    display: none;
}

/* Add class 'show' to reveal the icon when desired */
.song-icon.show {
    display: block;
}

/* Marquee effect */
.song-title {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

.song-title p {
    display: inline-block;
    padding-left: 100%;
    will-change: transform;
    animation: marquee 15s linear infinite;
    margin: 0;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}